.product-details-div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
  margin-top: 25px;
  margin-left: 10px;
}

.product-details {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #EEEEEE;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}

.product-details1 {
  display: flex;
  flex: 1;
  
  margin-left: 10px;
  flex-direction: column;
  gap: 15px;
}

.unstitched {
  font-weight: 500;
  font-size: 15px;
  text-decoration: underline;
  color: #000000;
}

.shirt, .dupatta, .trouser  {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.digital, .fancy, .dyed {
  display: block;
  font-weight: 500;
  font-size: 15px;
  color: #9D9D9D;
}

